<nav>
          <img src="images/logo.png" alt="" class="logo" />
          <ul id="sideMenu">
            <li><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#contact">Join</a></li>
            <li><a href="/sign">Signup</a></li>

            <i class="fa-solid fa-xmark" id="icon" onclick="closemenu()"></i>
          </ul>

          <i class="fa-solid fa-bars" id="icon" onclick="openmenu()"></i>
        </nav>